<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de Clientes</h2>
  </div>
  <div class="panel-body">
    <table *ngIf="clientes && this.clientes[0].guid!=''" class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>CPF</th>
          <th>Telefone</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of this.clientes">
          <td>{{cliente.nome}}</td>
          <td>{{cliente.cpf}}</td>
          <td>{{cliente.celular}}</td>
          <td>
              <button (click)="detalhesDoCliente(cliente.guid)" class="btn btn-info" style="margin-left: 10px">Mais Informações</button>
              <button (click)="apagarCliente(cliente.guid)" class="btn btn-danger">Apagar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
