<h3>Modificar Cliente</h3>
<div [hidden]="enviado" style="width: 400px;">
  <form (ngSubmit)="aoSalvar()">
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="cliente.nome" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">CPF</label>
      <input type="text" class="form-control" id="cpf" required [(ngModel)]="cliente.cpf" name="cpf">
    </div>

    <div class="form-group">
      <label for="name">Telefone</label>
      <input type="text" class="form-control" id="telefone" required [(ngModel)]="cliente.celular" name="celular">
    </div>

    <div class="form-group">
      <label for="name">E-mail</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="cliente.email" name="email">
    </div>

    <div class="form-group">
      <label for="name">Endereço</label>
      <input type="text" class="form-control" id="endereco" required [(ngModel)]="cliente.endereco" name="endereco">
    </div>

    <button type="submit" class="btn btn-success" (click)="editarCliente()">Salvar</button>
  </form>
</div>
